* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: verdana;
    font-size: 16px;
    background-color: aliceblue;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.maincontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 500px;
    background-color: whitesmoke;
    padding: 30px 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    gap: 20px;
    animation: fadeIn 1s forwards, slideIn 0.5s forwards;
}

@keyframes fadeIn {
    0% {opacity: 0%};
    50% {opacity: 50%};
    100% {opacity: 100%};
}

@keyframes slideIn {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0%);
    }
}

.maincontainer div:nth-child(1) {
    color: whitesmoke;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    padding-bottom: 10px;
}

.maincontainer div:nth-child(2) input {
    padding: 15px 10px;
    border: 0;
    outline: 0;
    box-shadow: inset 0 0 7px rgba(0, 0, 0, 0.2);
}

.maincontainer div:nth-child(2) button {
    padding: 12px 10px;
    margin-left: 5px;
    border: 0;
    outline: 0;
    background-color: #f5f5f5;
    font-weight: bold;
    color: whitesmoke;
    text-shadow:0 0 4px rgba(0, 0, 0, 0.5);
    font-size: 1.2rem;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    margin-bottom: 10px;
}

.maincontainer div:last-of-type {
    width: 200px;
    font-size: 0.7rem;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);
    padding: 5px 10px 2px;
}

.jsdiv {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #f5f5f5;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    padding: 20px 30px;
    width: 500px;
    height: 500px;
    overflow: hidden;
}
